# Configuration file for nginx to act like a loadbalancer
upstream nitflix_backend {
    {% for host in groups['webservers'] %}
    server {{ host }}:5000;
    {% endfor %}
}

server {
    listen 80;

    location / {
        proxy_pass http://nitflix_backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}